/*
 * Using LESS mixins with arguments
 */
#mypara {
  -mox-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  border: 5px solid blue;
  -webkit-box-shadow: 10px 10px 10px gray;
  -mox-box-shadow: 10px 10px 10px gray;
  -ms-box-shadow: 10px 10px 10px gray;
  box-shadow: 10px 10px 10px gray;
  padding: 10px;
}
